
@mixin bubble($background-color, $border-color, $horizontal-position, $size) {
    position: relative;
    border: $border-color solid 1px;
    background-color: $background-color;
    
    &:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-color: $background-color transparent;
        display: block;
        width: 0;
        z-index: 1;
        margin-left: -($size * 0.85);
        bottom: -$size;
        left: $horizontal-position;
    }

    &:before {
        content: '';
        position: absolute;
        border-style: solid;
        border-color: $border-color transparent;
        display: block;
        width: 0;
        z-index: 0;
        margin-left: -($size * 0.85);
        left: $horizontal-position;
    }
    &.tip-top:after {
        border-width: 0 ($size * 0.85) $size;
        border-color: $background-color transparent;
        top: -$size;
        bottom: auto;
    }
    &.tip-top:before {
        border-width: 0 ($size * 0.85) $size;
        top: -($size + 1);
        bottom: auto;
    }
    &.tip-bottom:after {
        border-width: $size ($size * 0.85) 0;
        bottom: -$size;
        top:auto;
    }
    &.tip-bottom:before {
        border-width: $size ($size * 0.85) 0;
        bottom: -($size + 1);
        top: auto;
    }
}
