.bar-group {
    .bar {
      fill: $color-dark-grey;
    }    
}
.bar-group.highlighted {
    .bar {
      fill: $saco-turcos;
    }
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis {
    .tick {
        line {
            display: none;
        }
    }
}
@media screen and (max-width: 520px) {
    .x.axis .tick {
        font-size: 10px;
        //display: none;
    }
}

.y.axis {
    .tick {
        font-size: 12px;
        line {
            display: none;
        }    
    }
    
    .domain {
        display: none;
    }
}

.income-line {
    .line {
        stroke: $saco-orange;
        stroke-width: 1px;
        stroke-dasharray: 3,3;
    }
    .label {
        fill: $saco-orange;        
    }
}

// Description
#chart {
    position: relative;

    .description {
        position: absolute;
        font-size: 17px;
        background-color: #fff;
        padding: 10px;

        .amount {
            font-size: 1.5em;
            font-weight: bold;
            display: inline-block;
            border-bottom: 3px solid $saco-turcos;
            margin-bottom: 5px;
        }
    }
}
@media screen and (max-width: 520px) {
    #chart {
        .description {
            position:static;
            max-width: 100% !important;
            margin-bottom: 20px;
            padding: 0;
        }
    }
}


// Hide description if profession is not valid
#chart.has-error {
    svg,
    .description {
        opacity: 0.1;
    }
}
#chart .error-message {
    display: none;
    text-align: center;
    position: absolute;
    width: 100%;
    padding-top: 34px;
    font-size: 2em;
}
#chart.invalid-profession .error-message.invalid-profession-error {
    display: block;
}
#chart.invalid-income .error-message.invalid-income-error {
    display: block;
}
#chart.not-enough-data .error-message.not-enough-data-error {
    display: block;
}



