



.helper {
    @include bubble(#fff, #5e5e5e, 50%, 7px);
    padding: 10px;
    border-radius: 4px;
    position: absolute;
    display: inline-block;
    opacity: 0;
}
.helper.initiated {
    display: none;
    opacity: 1;
}

.helper.initiated.show,
.helper.initiated.show-at-start
 {
    display: inline-block;
}