


.helper.show,
.helper.show-at-start
 {
    opacity: 1;
}
.helper {
    @include bubble(#fff, #5e5e5e, 50%, 7px);

    padding: 10px;
    border-radius: 4px;
    position: absolute;
    display: inline-block;
    opacity: 0;
}
