#promo {
    @include bubble($saco-grey, $saco-grey, 10%);

    font-size: 1.1em;
    margin-top: 24px;

    .icon-salary {
        background-image: url('data:image/svg+xml;charset=US-ASCII,<svg%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20viewBox%3D"0%200%20131.9%20131.9"%20enable-background%3D"new%200%200%20131.9%20131.9"><circle%20opacity%3D".4"%20fill%3D"%23E27748"%20cx%3D"66"%20cy%3D"66"%20r%3D"66"%2F><path%20fill%3D"%23E27748"%20d%3D"M111.1%2095.8l-9.9-9.8c1.3-2.2%202.1-4.7%202.1-7.4%200-8-6.5-14.5-14.5-14.5s-14.5%206.5-14.5%2014.5S80.9%2093%2088.9%2093c2.8%200%205.3-.8%207.5-2.1l9.8%209.8%204.9-4.9zm-22.2-8.4c-4.9%200-8.9-4-8.9-8.9s4-8.9%208.9-8.9%208.9%204%208.9%208.9-4%208.9-8.9%208.9z"%2F><path%20stroke%3D"%23E27748"%20stroke-width%3D"4.5"%20stroke-linecap%3D"round"%20stroke-linejoin%3D"round"%20stroke-miterlimit%3D"10"%20fill%3D"none"%20d%3D"M90.3%2067.4V47.3M37%2047.3v38.4h42.9"%2F><path%20fill%3D"%23E27748"%20stroke%3D"%23E27748"%20stroke-width%3D"2"%20stroke-miterlimit%3D"10"%20d%3D"M37%2085.7M90.3%2047.3"%2F><path%20stroke%3D"%23E27748"%20stroke-width%3D"5"%20stroke-linecap%3D"round"%20stroke-linejoin%3D"round"%20stroke-miterlimit%3D"10"%20fill%3D"none"%20d%3D"M71.1%2062.8l-7.2%205.5-27.4-19.5"%2F><path%20fill%3D"%23E27748"%20stroke%3D"%23E27748"%20stroke-width%3D"5"%20stroke-miterlimit%3D"10"%20d%3D"M63.4%2027.4L37.5%2046.8l9.6%204.5L69.8%2032z"%2F><path%20stroke%3D"%23E27748"%20stroke-width%3D"5"%20stroke-linecap%3D"round"%20stroke-linejoin%3D"round"%20stroke-miterlimit%3D"10"%20fill%3D"none"%20d%3D"M63.9%2068.3L36.5%2048.8"%2F><path%20stroke%3D"%23E27748"%20stroke-width%3D"4.5"%20stroke-linecap%3D"round"%20stroke-linejoin%3D"round"%20stroke-miterlimit%3D"10"%20fill%3D"none"%20d%3D"M46.6%2053.8l33.3-26.6%2017.7%2015.6-9.4%205.7M50.3%2057.8l28.2-20.7L92%2053.9s-21.6%208-27.8%2012.9"%2F><%2Fsvg>');
        background-repeat: no-repeat;
        width: 60px;
        height: 60px;
        margin-left: 10px;
    }

    h3 {
        font-size: 24px;
        margin: 0 0 5px 0;
        padding: 0;
        font-weight: 300;
        text-transform: uppercase;
    }
    .content {
        padding-right: 70px;
    }
}
