#ui {
    font-size: 20px;
    display: inline-block;
    line-height: 1.6em;
    margin-bottom: 29px;

    #income {
        text-align: center;
    }

    input,
    select {
        background-color: transparent;
        font-size: 20px;
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid #333;
    }

    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }

    .percentile {
        //font-size: 1.5em;
        font-weight: bold;
        display: inline-block;
        border-bottom: 3px solid $saco-turcos;
        //margin-bottom: 5px;
    }
}


